<div class="registration-form resending">
  <div class="form-logo"><%=image_tag 'dog_logo.png', class: 'logo-image'%></div>
  <div class="form-header">Forgot your password?</div>
  <div class="form-body" id="password-resending">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, class: 'form-field resend' %></div>

  <div><%= f.submit "Send me reset password instructions", class: 'resend-button' %></div>
<% end %>



</div>
</div>
