<div class="registration-form">
	<div class="form-logo"><%=image_tag 'dog_logo.png', class: 'logo-image'%></div>
	<div class="form-header">Welcome</div>
	<div class="form-body">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, class: 'form-field' %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password, class: 'form-field' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", class: 'form-button' %></div>
<% end %>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>
<!-- <@%= render "devise/shared/links" %> -->
