<h2>Locations</h2>
<%=show_map(@locations.first)%>


<% @locations.each do |location| %>

<% location.name  %>

<%location.address  %>
<%location.longitude  %>
<% location.latitude %>


<script type="text/javascript">
$(document).ready(function() {
	L.marker([
		<%= location.latitude %>,
		<%= location.longitude %>
	]).addTo(map).bindPopup('<%=location.name%>').openPopup();

});
</script>




<% end %>

<%=current_user.location  %>

