<section class="info">
<div class="instruction">
  <table>
  <% @locations.each do |location|  %>
  <tr >
        <td class="image-holder", data-link="<%=location_path(location)  %>"><%= image_tag location.avatar.url(:thumb) %></td>
        <td class="name-holder"><%=location.name %></td>
        <td class="description-holder"><%= location.description %></td>
  </tr>
 
  <% end %>
</table>
	
  
</div>

<%=show_map(@locations.first)%>

<% @locations.each do |location| %>

<script type="text/javascript">
$(document).ready(function() {
	L.marker([
		<%= location.latitude %>,
		<%= location.longitude %>
	]).addTo(map).bindPopup('<%=location.name%> <br><%= image_tag location.avatar.url(:thumb) %> <br> <%=location.description  %>' ).openPopup();

});
</script>
<% end %>


</section>


