<h2>Locations</h2>

<%=show_map(@locations.first)%>

<% @locations.each do |location| %>

<script type="text/javascript">
$(document).ready(function() {
	L.marker([
		<%= location.latitude %>,
		<%= location.longitude %>
	]).addTo(map).bindPopup('<%=location.name%> <br><%= image_tag location.avatar.url(:thumb) %> <br> <%=location.description  %>' ).openPopup();

});
</script>




<% end %>



