

<div class="registration-form">
  <div class="form-logo"><%=image_tag 'dog_logo.png', class: 'logo-image'%></div>
  <div class="form-header">New Location:</div>
  <div class="form-body">
  <%= form_for @location, :html => { :multipart => true } do |f| %>
    <div>
      <%= f.label :name %>
      <%=f.text_field :name, class: 'form-field'  %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-field' %>
    </div>
    <div>
      <%= f.label :longitude %>
      <%= f.text_field :longitude, class: 'form-field',:value => params[:lng]   %>
    </div>
    <div>
      <%= f.label :latitude %>
      <%= f.text_field :latitude,  class: 'form-field', :value => params[:lat]%>
    </div>
    <div>
      <%=f.label :description  %>
      <%=f.text_field :description, class: 'form-field'%>
    </div>

    <div class= 'form-button', id="photo-attachment-container">
      <%= f.label :avatar, 'Upload photo'%>
      <div class="wrapper">
        <button><%= f.file_field :avatar %></button>
      </div>
    </div>
    <div>
      <%= f.submit "Create location", class: 'form-button' %>
    </div>
  <% end %>
  </div>
</div>
