<div class="bufor"></div>
<div class = location-details>
  <div class = location-description>
    <div class = details><h1>Location</h1>

    <p><strong>Name :</strong>
    	<%=@location.name %>
    </p>

    <p><strong>Description :</strong>
    	<%=@location.description%>
    </p>

    <div id="information">
      <%= image_tag @location.avatar.url(:medium) %>
    </div>

    <%= link_to 'Main page', locations_path  %>
  </div>
  </div>
</div>
<%= show_map(@location)  %>
<% @location.nearbys(2, :units => :km).each do |location| %>
  
  <script type="text/javascript">
  	$(document).ready(function() {
  		L.marker([
  			<%= location.latitude %>,
  			<%= location.longitude %>
  		]).addTo(map).bindPopup('<%=location.name%> <br> <%= image_tag location.avatar.url(:thumb) %> <br> <%=location.description%>' );

  	});
	</script>
<% end %>


