<h1>Location</h1>

<p><strong>Name :</strong>
	<%=@location.name %>
</p>


<p><strong>Address :</strong>
	<%=@location.address %>
</p>

<p><strong>Description :</strong>
</p>

<%= image_tag @location.avatar.url %>

<%= show_map(@location)  %>

<% @location.nearbys(5, :units => :km).each do |location| %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> km)</li>
  <script type="text/javascript">
$(document).ready(function() {
	L.marker([
		<%= location.latitude %>,
		<%= location.longitude %>
	]).addTo(map).bindPopup('<%=location.name%>').openPopup();

});
</script>

<% end %>

<!-- <div id="map" data-latitude = "<%= @location.latitude %>" data-longitude = <%= @location.longitude %>></div> -->
 